.pay-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 442px;
  width: 352px;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  border-radius: 0px;

  input {
    border: none;
    border-bottom: 1px solid #7a7a7a;
    padding: 3px 0px;
  }
  &__title {
    margin-top: 48px;
    margin-bottom: 36px;
    width: 280.59px;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 282px;
  }
  &__label-text {
    font-size: 12px;
    color: #9a9a9a;
  }
  &__input {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
    &[type] {
      color: #535353;
    }
    &--failed {
      border-bottom: 2px solid #ff0000;
    }
    // &:focus {
    //   border-color: #3592ff;
    // }
  }
  &__date-code {
    display: flex;
    justify-content: space-between;
  }
  &__month-year {
    width: 64px;
  }
  &__code {
    width: 80px;
  }
  &__btn {
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    width: 250px;
    height: 42px;
    background: #6cb0ff;
    border-radius: 6px;
    border: none;
    &:hover {
      cursor: pointer;
    }
    &:disabled {
      background: #9f9f9f;
    }
  }
}
.code {
  text-align: center;
}
.check {
  text-align: center;
  height: 150px;
}
.checked {
  text-align: center;
  height: 300px;
}
.failed {
  color: #ff0000;
}
.pay-form__input--failed {
  border-bottom: #ff0000;
}
